<!doctype html>
<html class="html">
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link name="stylesheet" rel="stylesheet" type="text/css" href="styles/html.css" />
    <meta name="author" content="<%= authors.join(', ') %>" />
    <meta name="subject" content="<%= subject %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="date" content="<%= published_at %>" />
    <%= highlight_theme %>
  </head>

  <body>
    <div class="frontcover container">
    </div>

    <div id="chapters">
      <%= content %>
    </div>

  </body>
</html>
